/* color scheme */
#E2D810
#12A4D9
#322E2F
#D9128A

/* reset */
* {
	margin: 0;
	padding: 0;
}
/* General Styling */

body {
	color: #322E2F;
	font: 14px'Segoe UI', Arial, sans-serif;
	background: #25239E;
}
img {
	/* max-width: 300px;
  height: auto; */
	float: left;
	width: 300px;
	height: 300px;
	object-fit: cover;
}
a {
	text-decoration: none;
	outline: none;
	color: #D9128A;
}
/* Custom Styling */

.container {
	width: 70%;
	margin: 10px auto;
	overflow: auto;
}
/* Nav Styling */

#navbar {
	display: block;
	height: 40px;
	background: #13181d;
}
#navbar a {
	color: #fff;
	display: inline-block;
	height: 40px;
	line-height: 37px;
	padding: 0 15px;
}
#navbar a.active,
#navbar a:hover {
	background: #D9128A;
}
/* Content Styling */

#main {
	display: block;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	min-height: 475px;
}
#main li {
	float: left;
	/* height: auto; */
	list-style: none;
	margin: 6px;
	position: relative;
	/* width: 300px; */
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
}
#main ul {
	overflow: hidden;
}
#main ul.hidden {
	display: none;
}
footer {
	text-align: center;
	color: #E2D810;
	font-size: 16px;
	font-weight: bold;
	background-color: #13181d;
}
